﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Навыки пользователя</title>
</head>
<body>
    <div>
        <h3>Навыки пользователя</h3>
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><p>Название</p></td>
                <td><p>Описание</p></td>
                <td></td>
            </tr>
            @foreach (UserSkills.Models.Entities.Skill s in Model)
            {
            
                <tr>
                    <td><p>@s.skillID</p></td>
                    <td><p>@s.title</p></td>
                    <td><p>@s.description</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>