﻿@model IEnumerable<UserSkills.Models.Entities.Skill>

@{
    ViewBag.Title = "SkillList";
}

<h2>SkillList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.skillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.skillID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.skillID })
        </td>
    </tr>
}

</table>
